<a href="https://colab.research.google.com/github/AlexBB999/THINK/blob/master/KSProjects.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

In [0]:
df=pd.read_csv('https://raw.githubusercontent.com/AlexBB999/Thinkful/master/ksprojects.csv')

In [0]:
df.head()

           id  ...  pledged
0  1147015301  ...    40.00
1  1100844465  ...   700.00
2  1316334968  ...  1367.00
3  1304906577  ...  6575.00
4  1099226462  ...   501.66

[5 rows x 13 columns]

In [0]:
df.shape

(65418, 13)

In [0]:
df.describe()

                 id          goal        backers   usd_pledged       pledged
count  6.541800e+04  6.541800e+04   65418.000000  6.467300e+04  6.541800e+04
mean   1.085705e+09  4.167020e+04     103.148094  7.900242e+03  8.914938e+03
std    3.431809e+08  1.027313e+06     989.106926  7.278334e+04  8.274820e+04
min    1.061440e+05  1.000000e+00       0.000000  0.000000e+00  0.000000e+00
25%    1.063633e+09  2.000000e+03       2.000000  2.500000e+01  3.000000e+01
50%    1.172349e+09  5.000000e+03      12.000000  5.420000e+02  6.220000e+02
75%    1.281132e+09  1.500000e+04      55.000000  3.608380e+03  4.001000e+03
max    1.389647e+09  1.000000e+08  154926.000000  8.596480e+06  8.596480e+06

In [0]:
df.columns

Index(['id', 'name', 'category', 'main_category', 'deadline', 'goal',
       'launched', 'state', 'backers', 'country', 'usd_pledged', 'currency',
       'pledged'],
      dtype='object')

In [0]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65418 entries, 0 to 65417
Data columns (total 13 columns):
id               65418 non-null int64
name             65418 non-null object
category         65418 non-null object
main_category    65418 non-null object
deadline         65418 non-null object
goal             65418 non-null float64
launched         65418 non-null object
state            65418 non-null object
backers          65418 non-null int64
country          65418 non-null object
usd_pledged      64673 non-null float64
currency         65418 non-null object
pledged          65418 non-null float64
dtypes: float64(3), int64(2), object(8)
memory usage: 6.5+ MB

In [0]:
df.isnull().values.any()

True

USD_PLEDGED HAS NULL VALUES

In [0]:
df_success=df[(df['category']=='Documentary') & (df["state"]=="successful")]

In [0]:
#  ALL SUCCESSFUL PROJECTS
df_success.head()

            id  ...   pledged
1   1100844465  ...    700.00
9   1125367305  ...   2721.00
24  1216330417  ...   6632.32
39  1039240602  ...    730.00
40  1211984590  ...  10795.70

[5 rows x 13 columns]

In [0]:
df_success_pledged=df_success.sort_values(by='pledged', ascending=False)

In [0]:
#4  TOP TEN PLEDGED
df_success_pledged.head(10)

               id  ...   pledged
11731  1078982332  ...  384376.0
24166  1162836718  ...  313158.0
12127  1326363492  ...  240022.0
61248  1203470139  ...  186010.0
28003  1205913248  ...  177421.0
27402  1135999291  ...  176746.0
16243  1061853312  ...  167917.0
27268  1228065368  ...  165401.0
43820  1194449879  ...  163930.0
22237   122290911  ...  163891.0

[10 rows x 13 columns]

In [0]:
 #NEW COLUMN
df['average_per_backer']=df['pledged']/df['backers']

# 5    IF ZERO BACKERS GET NaN

In [0]:
df.head(18)

            id  ... average_per_backer
0   1147015301  ...          10.000000
1   1100844465  ...          50.000000
2   1316334968  ...          42.718750
3   1304906577  ...         273.958333
4   1099226462  ...          22.802727
5   1301564845  ...          70.000000
6   1081313636  ...          15.000000
7    112916020  ...          46.250000
8   1130941392  ...           9.333333
9   1125367305  ...          45.350000
10  1143904247  ...          49.434783
11  1163942232  ...          30.000000
12  1167151653  ...          13.666667
13  1170035792  ...          20.000000
14  1178729979  ...          50.000000
15  1074367099  ...           7.000000
16  1291701547  ...          52.745098
17  1001181420  ...         158.892308

[18 rows x 14 columns]

DROP ROW WITH ZERO BACKERS

In [0]:
#6 DROP ROWS WITH ZERO BACKERS
df=df[df['backers']>0]
df.head(18)

            id  ... average_per_backer
0   1147015301  ...          10.000000
1   1100844465  ...          50.000000
2   1316334968  ...          42.718750
3   1304906577  ...         273.958333
4   1099226462  ...          22.802727
5   1301564845  ...          70.000000
6   1081313636  ...          15.000000
7    112916020  ...          46.250000
8   1130941392  ...           9.333333
9   1125367305  ...          45.350000
10  1143904247  ...          49.434783
11  1163942232  ...          30.000000
12  1167151653  ...          13.666667
13  1170035792  ...          20.000000
14  1178729979  ...          50.000000
15  1074367099  ...           7.000000
16  1291701547  ...          52.745098
17  1001181420  ...         158.892308

[18 rows x 14 columns]

#7 CROSSTAB

In [0]:
pd.crosstab(df['state'],df['category'], margins=True)

category    3D Printing  Academic  Accessories  ...  Young Adult  Zines    All
state                                           ...
canceled             17        21           48  ...           16      6   6427
failed               59        86          238  ...           78     26  33922
live                  3         3           16  ...            1      1    938
successful           43        43          121  ...           23     17  23125
suspended             2         4            2  ...            0      0    311
undefined             1         0            1  ...            0      0    695
All                 125       157          426  ...          118     50  65418

[7 rows x 159 columns]